<section>
    <div class="content">

        <div class="scroll-down">
            <p>scroll down</p>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                <path fill="#FFFFFF"
                    d="M4 11h12.586l-3.293-3.293a1 1 0 0 1 1.414-1.414l5 5a1 1 0 0 1 0 1.414l-5 5a1 1 0 0 1-1.414-1.414L16.586 13H4a1 1 0 1 1 0-2z" />
            </svg>
        </div>


        <div class="social-links">
            <div class="orange-line"></div>
            <div class="links">
                <a href="https://github.com/ClaudiaDaneder" target="_blank"><img
                        src="assets/img/socials-github.svg"></a>
                <a href="mailto:claudia.daneder@hotmail.com"><img src="assets/img/socials-email.svg"></a>
                <a href="https://www.linkedin.com/in/claudia-daneder-8430411a1/" target="_blank"><img
                        src="assets/img/socials-linkedin.svg"></a>
                <a class="email-address" href="mailto:claudia.daneder@hotmail.com">claudia.daneder&#64;hotmail.com</a>
            </div>
        </div>

    </div>
</section>