<section>
        <div class="social-links">
            <img src="./../../assets/img/line-red-socials.svg">
            <a href="https://github.com/ClaudiaDaneder" target="_blank"><img src="./../../assets/img/socials-github.svg"></a>
            <a href="mailto:claudia.daneder@hotmail.com"><img src="./../../assets/img/socials-email.svg"></a>
            <a href="https://www.linkedin.com/in/claudia-daneder-8430411a1/" target="_blank"><img src="./../../assets/img/socials-linkedin.svg"></a>
            <a class="email-address" href="mailto:claudia.daneder@hotmail.com">claudia.daneder&#64;hotmail.com</a>
        </div>

        <p class="scroll-down">scroll down -></p>

</section>