@import './../../../variables.scss';

* {
    margin: 0;
}

section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 18vh
}

.social-links {
    display: flex;
    align-items: center;
    gap: 42px;
    z-index: 2;

    a {
        &:hover {
            color: $darkorange
        }

        img {
            width: 30px;
            height: 30px;
            margin-top: 3px;
            margin-bottom: -3px;
            transition: 100ms ease-out;
        }

        img:hover {
            transform: scale(1.33);
        }
    }
}

.scroll-down {
    transform: rotate(90deg);
    max-height: 50px;
}


@media screen and (max-width: 920px) {
    .scroll-down {
        display: none;
    }
}

@media screen and (max-width: 780px) {
    .email-address {
        display: none
    }
}

@media screen and (max-width: 550px) {
    section {
        height: 10vh;
    }
}

@media screen and (max-width: 390px) {
    .social-links {
        gap: 22px;
    }

    section {
        height: 5vh;
    }


}