<nav>
    <div class="content">
    <div class="regular-menu">
        <a href="#home"><img class="logo" src="assets/img/icon_white.png"></a>
        <div class="nav-links">
            <a href="#about-me">{{ 'nav.about-me' | translate }}</a>
            <a href="#skills">{{ 'nav.skills' | translate }}</a>
            <a href="#projects">{{ 'nav.projects' | translate }}</a>
            <button type="button" (click)="toggleLanguage()" class="language-btn">{{ 'nav.language' | translate }}</button>
        </div>
    </div>
    </div>
    <div class="responsive-menu">
        <a href="#home"><img class="logo" src="assets/img/icon_white.png"></a>
        <label class="hamburger-menu">
            <input type="checkbox" id="toggle-sidebar">
        </label>
        <div class="sidebar">
            <button type="button" (click)="toggleLanguage()" class="language-btn">{{ 'nav.language' | translate }}</button>
            <a href="#about-me" (click)="closeSidebar()">{{ 'nav.about-me' | translate }}</a>
            <a href="#skills" (click)="closeSidebar()">{{ 'nav.skills' | translate }}</a>
            <a href="#projects" (click)="closeSidebar()">{{ 'nav.projects' | translate }}</a>
            <a href="#contact" (click)="closeSidebar()">{{ 'contact.contact' | translate }}</a>
        </div>
    </div>
</nav>