<section id="about-me">
    <div class="about-me-container">
        <div class="about-me-text">
            <h3>{{ 'about-me.about-me' | translate }}</h3>
            <p>{{ 'about-me.intro' | translate }} </p>
            <div class="personal">
                <img src="assets/img/about-me-puzzle.svg">
                <p>{{ 'about-me.puzzle' | translate }}</p>
            </div>
            <div class="personal">
                <img src="assets/img/about-me-bulb.svg">
                <p>{{ 'about-me.bulb' | translate }}</p>
            </div>
        </div>
        <div class="photo-container">
            <div class="photo">
                <img src="assets/img/foto2.jpg">
            </div>
            <div class="orange_line"></div>
        </div>
    </div>
</section>