<section id="about-me">
    <div class="about-me-container">
        <div class="about-me-text">
            <h3>About me</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos, libero officiis, qui tempora totam
                dolorem blanditiis, rerum dolore at laboriosam labore! </p>
            <div class="personal">
                <img src="./../../assets/img/about-me-bulb.svg">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos, libero officiis, qui tempora
                    totam dolorem blanditiis, rerum dolore at laboriosam labore! </p>
            </div>
            <div class="personal">
                <img src="./../../assets/img/about-me-puzzle.svg">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos, libero officiis, qui tempora
                    totam dolorem blanditiis, rerum dolore at laboriosam labore! </p>
            </div>
        </div>
        <div class="photo-container">
            <div class="photo">
                <img src="./../../assets/img/foto2.jpg">
            </div>
            <img src="./../../assets/img/line-orange-about-me.svg">
        </div>
    </div>
</section>