<section id="about-me">
    <div class="about-me-container">
        <div class="about-me-text">
            <h3>About me</h3>
            <p>In my professional journey, I gained insight into HTML and CSS and quickly discovered my fascination with design and implementation. </p>
            <div class="personal">
                <img src="./../../assets/img/about-me-puzzle.svg">
                <p>Coding, to me, is like cracking a puzzle - I love turning creative ideas into reality and tackling challenging projects. My ultimate goal is to achieve the best possible outcome that is not only visually appealing but also user-friendly.</p>
            </div>
            <div class="personal">
                <img src="./../../assets/img/about-me-bulb.svg">
                <p>With a keen eye for detail and a precise approach, I ensure that every project is perfected down to the smallest detail.</p>
            </div>
        </div>
        <div class="photo-container">
            <div class="photo">
                <img src="./../../assets/img/foto2.jpg">
            </div>
            <div class="orange_line"></div>
        </div>
    </div>
</section>