@import './../../../variables.scss';

* {
    margin: 0;
}

section {
    background-color: $background;
    height: 100vh;
    z-index: 1;
    @include dFlexCenter();
    padding-top: 150px;
    width: 100%;
}

.i-am {
    transform: rotate(-90deg);
    font-size: 58px;
    margin-top: 4px;
    text-wrap: nowrap;
}

h1 {
    margin-bottom: -20px
}


.hero-container {
    @include dFlexCenter();
    width: 100%;
    height: 100%;
    padding-right: 100px;
    max-width: 1440px;
}

.photo-container {
    background-image: url(./../../../assets/img/photo-shadows.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.text-container {
    width: 100%;
    height: 100%;
}

.image {
    @include dFlexCenter();
    height: 100%;
    width: auto;
}

.hero-photo {
    filter: contrast(110%);
    height: 80%;
    bottom: 0;
    z-index: 0;
    position: absolute;
}


.name-container {
    display: flex;
    align-items: center;
    text-wrap: nowrap;
}

.name {
    display: flex;
    flex-direction: column;
}

.contact-btn {
    background-color: $orange;
    max-width: 250px;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px 25px;
    margin-top: 30px;
    z-index: 1;
    border: unset;
    box-shadow: 4px 4px 4px 0px #00000040;
    transition: 100ms ease-in-out;

    &:hover {
        transform: scale(1.2);
        background-color: $darkorange;
    }

    &:focus,
    :active {
        background-color: #fff;
        color: $darkorange;

        &:hover {
            background-color: #fff;
            color: $darkorange;
        }
    }
}

.name-plus-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: -100px;
    height: 100%;
    width: auto;
}



@media screen and (max-width: 1400px) {
    .i-am {
        font-size: 44px;
    }

}

@media screen and (max-width: 1245px) {

    section {
        padding-top: 80px;
    }

    .i-am {
        font-size: 34px;
    }

    .hero-photo {
        max-width: 580px;
    }
}


@media screen and (max-width: 1020px) {
    .hero-container {
        padding-right: 32px
    }

}

@media screen and (max-width: 920px) {

    .hero-container {
        flex-direction: column;
        gap: 30px;
        justify-content: flex-end;
        padding: 0
    }

    .name-plus-contact {
        margin-left: 0;
        position: relative;
        z-index: 2;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }

    .contact-btn {
        margin: 0;
    }


}

@media screen and (max-width: 850px) {
    section {
        padding-top: 0;
    }

    .name-plus-contact {
        flex-direction: column;
        margin-top: -50px;
    }

    .contact-btn {
        margin-top: 15px;
    }

    .hero-container {
        gap: 20px;
    }
}

@media screen and (max-width: 550px) {

    .hero-photo {
        width: 100%;
    }

    .i-am {
        font-size: 26px;
    }

    .name-plus-contact {
        margin-top: 20px;
    }

    h1 {
        margin-bottom: -10px
    }

    .hero-container {
        gap: 0
    }
}

@media screen and (max-width: 500px) {
    .contact-btn {
        font-size: 16px;
        padding: 8px 16px;
    }
}

@media screen and (max-width: 390px) {
    .name-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .i-am {
        transform: rotate(0);
    }

    .name-plus-contact {
        margin-top: 50px;
    }
}