<section id="home">
    <div class="hero-container">
        <div class="photo-container">
            <div class="image">
                <img class="hero-photo" src="assets/img/foto1.png">
            </div>
        </div>
        <div class="text-container">
            <div class="name-plus-contact">
                <div class="name-container">
                    <p class="i-am">{{ 'landing-page.i-am' | translate }}</p>
                    <div class="name">
                        <h1>Claudia Daneder</h1>
                        <h2>{{ 'landing-page.frontend' | translate }}</h2>
                    </div>
                </div>
                <a href="#contact"><button class="contact-btn" type="button">{{ 'landing-page.contact-me' | translate}}</button></a>
            </div>
        </div>
    </div>
</section>