<section id="skills">
    <div class="skills-container">
        <div class="icons">
            @for (icon of icons; track $index) {
            <div class="skill">
                <img src="./../../assets/img/{{icon}}.png">
                <p>{{icon}}</p>
            </div>
            }

        </div>
        <div class="skills-text-container">
            <div class="skills-text">
                <h3>Skill set</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa quas dolore, qui odit dolorem
                    enim,
                    reiciendis nostrum aliquid consequatur</p>
            </div>
            <a href="#contact"><button type="button" class="contact-btn">Get in touch</button></a>
        </div>
    </div>


</section>