<section id="skills">
    <div class="skills-container">
        <div class="icons">
            @for (icon of icons; track $index) {
            <div class="skill">
                <img src="assets/img/{{icon}}.png">
                <p>{{icon}}</p>
            </div>
            }

        </div>
        <div class="skills-text-container">
            <div class="skills-text">
                <h3>Skill set</h3>
                <p>My skills are like a well-organized toolbox - versatile and ready to be utilized, to implement every project with creativity and precision.</p>
            </div>
            <a href="#contact"><button type="button" class="contact-btn">Get in touch</button></a>
        </div>
    </div>


</section>