<section id="skills">
    <div class="skills-container">
        <div class="icons">
            @for (icon of icons; track $index) {
            <div class="skill">
                <img src="assets/img/{{icon}}.png">
                <p>{{icon}}</p>
            </div>
            }

        </div>
        <div class="skills-text-container">
            <div class="skills-text">
                <h3>{{ 'skills.skill-set' | translate }}</h3>
                <p>{{ 'skills.text' | translate }}</p>
            </div>
            <a href="#contact"><button type="button" class="contact-btn">{{ 'skills.button' | translate }}</button></a>
        </div>
    </div>


</section>