<footer>
    <div class="legalities">
        <a href="#home"><img class="logo" src="./../../../../assets/img/icon_white.png"></a>
        <a href="#" class="link">Imprint</a>
    </div>
    <p>&copy; Claudia Daneder 2024</p>

    <div class="social-links">
        <a href="#"><img src="./../../assets/img/socials-github.svg"></a>
        <a href="#"><img src="./../../assets/img/socials-email.svg"></a>
        <a href="#"><img src="./../../assets/img/socials-linkedin.svg"></a>
    </div>
</footer>