<footer>
    <div class="content">
        <div class="legalities">
            <a href="#home"><img class="logo" src="assets/img/icon_white.png"></a>
            <a href="imprint" class="link">{{ 'footer.imprint' | translate }}</a>
        </div>
        <p>&copy; Claudia Daneder 2024</p>

        <div class="social-links">
            <a href="https://github.com/ClaudiaDaneder" target="_blank"><img src="assets/img/socials-github.svg"></a>
            <a href="mailto:claudia.daneder@hotmail.com"><img src="assets/img/socials-email.svg"></a>
            <a href="https://www.linkedin.com/in/claudia-daneder-8430411a1/" target="_blank"><img
                    src="assets/img/socials-linkedin.svg"></a>
        </div>
    </div>
</footer>