@import './../../../../variables.scss';

* {
    margin: 0;
}

footer {
    background-color: $background;
    border-top: 4px solid $orange;
    @include dFlexCenter();
    width: 100%;
    z-index: 999;
}

.content {
    max-width: 1440px;
    @include dFlexSB();
    width: 100%;
    padding: 50px 100px;
}

.logo {
    width: 60px
}

.social-links {
    display: flex;
    align-items: center;
    gap: 42px;

    a {
        img {
            width: 30px;
            height: 30px;
            margin-top: 3px;
            margin-bottom: -3px;
            transition: 100ms ease-out;
        }

        img:hover {
            transform: scale(1.33);
        }
    }
}

.legalities {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.link {
    position: relative;
    display: inline-block;
    padding-bottom: 2px;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 0;
        border-bottom: $darkorange 2px solid;
        transition: width 100ms ease-in;
    }

    &:hover::after {
        width: 50px;
    }
}

@media screen and (max-width: 1020px) {
    .content {
        padding: 32px
    }

    .logo {
        width: 50px
    }
}

@media screen and (max-width: 650px) {
    .content {
        flex-direction: column;
        align-items: center;
        gap: 32px
    }
}