<app-navbar />
<section>
    <div class="content">
        <div class="navigation-back">
            <h1>{{ 'imprint.title' | translate }}</h1>
            <div class="arrow" (click)="linkBack()"></div>
        </div>
        <p><b>{{ 'imprint.info' | translate }}</b></p>
        <p><b>{{ 'imprint.owner' | translate }}:</b> Claudia Daneder</p>
        <p><b>{{ 'imprint.address' | translate }}:</b> Kasernstraße 74 / 36, 8041 Graz</p>
        <p><b>{{ 'imprint.contact' | translate }}:</b> <br> {{ 'imprint.tel' | translate }}: +4369911365771 <br> {{ 'imprint.email' | translate }}: claudia.daneder&#64;hotmail.com </p>

        <p><b>{{ 'imprint.legal' | translate }}:</b> www.ris.bka.gv.at </p>
        <p><b>{{ 'imprint.online' | translate }}:</b> {{ 'imprint.odr' | translate }}: https://ec.europa.eu/consumers/odr</p>
        <p><b>{{ 'imprint.copyright' | translate }}:</b> {{ 'imprint.copyright-text' | translate }}</p>
        <p><b>{{ 'imprint.disclaimer' | translate }}:</b> {{ 'imprint.disclaimer-1' | translate }}<br>{{ 'imprint.disclaimer-2' | translate }}</p>
        <p>{{ 'imprint.source' | translate }}: <b><a href="https://www.fairesrecht.at/">fairesRecht.at</a></b></p>
    </div>
</section>
<app-footer />