@import './../../variables.scss';

* {
    margin: 0;
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 160px 0;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 0 100px;
    background-color: $background;
    gap: 16px;
    line-height: 1.6;
    max-width: 1440px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    z-index: 0;
}


.navigation-back {
    @include dFlexSB;
    margin-bottom: 20px
}

.arrow {
    width: 50px;
    height: 50px;
    background-image: url(./../../assets/img/arrow-up_white.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(-90deg);
    transition: 100ms ease-in-out;

    &:hover {
        background-image: url(./../../assets/img/arrow-up_orange.svg);
        cursor: pointer;
    }
}

@media screen and (max-width: 1020px) {
    .content {
        padding: 60px 32px;
    }
}

@media screen and (max-width: 500px) {
    .arrow {
        width: 30px;
        height: 30px;
    }
}