
<app-navbar></app-navbar>

<section id="home">
        <div class="hero-container">
            <div class="photo-container">
                <img class="hero-photo" src="./../../assets/img/foto1.png">
            </div>
            <div class="name-plus-contact">
                <div class="name-container">
                    <p class="i-am">I am</p>
                    <div class="name">
                        <h1>Claudia Daneder</h1>
                        <h2>Frontend Developer</h2>
                    </div>
                </div>
                <a href="#contact"><button class="contact-btn" type="button">Contact me</button></a>
            </div>
        </div>

</section>
