<h1 mat-dialog-title>{{ 'privacy.title' | translate }}</h1>
<mat-dialog-content>

    <div class="content">
        <p [innerHTML]="'privacy.intro' | translate"></p>

        <p [innerHTML]="'privacy.1' | translate "></p>
        <ul style="list-style: none">
            <p [innerHTML]="'privacy.1-list' | translate "></p>
        </ul>
        <p [innerHTML]="'privacy.2' | translate "></p>
        <p [innerHTML]="'privacy.3' | translate "></p>
        <p [innerHTML]="'privacy.4-5' | translate "></p>

        <ul style="list-style: none;">
            <p [innerHTML]="'privacy.6' | translate "></p>
        </ul>
        <p [innerHTML]="'privacy.7' | translate "></p>
        <p [innerHTML]="'privacy.8' | translate "></p>
        <p [innerHTML]="'privacy.9-12' | translate "></p>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="onNoClick()">{{ 'privacy.button' | translate }}</button>
</mat-dialog-actions>