<section>
    <div class="hero-swoop">

        <div class="social-links">
            <img src="./../../assets/img/line-red-socials.svg">
            <a href="#"><img src="./../../assets/img/socials-github.svg"></a>
            <a href="#"><img src="./../../assets/img/socials-email.svg"></a>
            <a href="#"><img src="./../../assets/img/socials-linkedin.svg"></a>
            <a href="mailto:claudia.daneder@hotmail.com">claudia.daneder&#64;hotmail.com</a>
        </div>

        <p class="scroll-down">scroll down -></p>
    </div>


</section>