$orange: #FA7902;
$darkorange: #FF4747;
$magenta: #D61CE6;
$background: #141D2F;

@mixin dFlexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin dFlexSB() {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

:root {
    --bar-width: 40px;
    --bar-height: 3px;
    --hamburger-gap: 12px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(--bar-height * 3 + --hamburger-gap * 2);
    --x-width: calc(--hamburger-height * 1.41421356237);
}