@import './../../../variables.scss';

* {
    margin: 0;
}

section {
    background-color: $background;
    padding: 100px 32px;
    background-image: url(./../../../assets/img/shadow-portfolio-red.png), url(./../../../assets/img/shadow-portfolio-orange.png);
    background-repeat: no-repeat;
    background-size: 40%, 40%;
    background-position: left 0% top 23%, right 0 bottom 0;
}

h3 {
    text-align: center;
    position: relative;

    &::before {
        border: $darkorange 2px solid;
        width: 10%;
        content: "";
        position: absolute;
        right: calc(50% + 180px);
        top: 50%;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    &::after {
        border: $darkorange 2px solid;
        width: calc(50% - 180px + 32px);
        content: "";
        position: absolute;
        right: -32px;
        top: 50%;
    }
}

.center {
    text-align: center;
    width: 60%;
    margin: auto;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin: 120px 0;

}

.element {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
}

.element-reverse {
    flex-direction: row-reverse;
    margin-left: 100px;
    margin-right: 0;
}

.description {
    display: flex;
    width: 513px;
    flex-direction: column;
    justify-content: flex-end;
    gap: 35px;
    margin-left: 35px;
}

.description-reverse {
    align-items: flex-end;
    text-align: right;
    margin-left: 0;
    margin-right: 35px;
}

.description-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.button-container {
    display: flex;
    gap: 66px;

    button {
        color: #fff;
        font-size: 20px;
        font-weight: 400;
        border-radius: 10px;
        padding: 10px 25px;
    }
}

.live-test-btn {
    background-color: $darkorange;
    border: unset;

    &:hover {
        background-color: $orange;
    }

    &:active,
    :focus {
        background-color: #fff;
        color: $darkorange;

        &:hover {
            background-color: #fff;
            color: $darkorange;
        }
    }

    &:disabled {
        background-color: grey;

        &:hover {
            transform: none;
            background-color: grey;
            cursor: default;
        }
    }
}

.github-btn {
    background-color: transparent;
    border: 1px orange solid;

    &:hover {
        background-color: $orange;
    }

    &:active,
    :focus {
        background-color: #fff;
        color: $darkorange;

        &:hover {
            background-color: #fff;
            color: $darkorange;
        }
    }

    &:disabled {
        background-color: grey;

        &:hover {
            transform: none;
            background-color: grey;
            cursor: default;
        }
    }
}

@media screen and (max-width: 1400px) {
    h3 {
        &::before {
            right: calc(50% + 150px);
        }

        &::after {
            width: calc(50% - 150px + 32px);
        }
    }
}

@media screen and (max-width: 1245px) {
    h3 {
        &::before {
            right: calc(50% + 120px);
        }

        &::after {
            width: calc(50% - 120px + 32px);
        }
    }
}

@media screen and (max-width: 1300px) {

    .element,
    .element-reverse {
        img {
            width: 550px
        }
    }

    .description {
        max-width: 430px;
    }
}

@media screen and (max-width: 1035px) {
    .element {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 0
    }

    .element-reverse {
        flex-direction: column;
        margin-left: 0
    }

    .description {
        justify-content: center;
        align-items: center;
        margin: 0;
        text-align: center;
    }

    .description-reverse {
        align-items: center;
        text-align: center;
        margin: 0
    }

    .description-text {
        align-items: center;
        gap: 15px;
    }

    .main-container {
        margin: 0;
    }

    .element,
    .element-reverse {
        img {
            width: 100%
        }
    }
}

@media screen and (max-width: 550px) {
    h3 {

        &::before {
            right: calc(50% + 100px);
        }

        &::after {
            width: calc(50% - 100px + 32px);
        }
    }

    .main-container {
        gap: 60px;
        margin: 80px 0;

    }
}

@media screen and (max-width: 500px) {
    .description {
        width: 90%;
    }

    .button-container {
        gap: 32px;

        button {
            font-size: 16px;
            padding: 8px 16px;
        }
    }

    .center {
        width: 100%;
    }

    section {
        padding: 60px 32px
    }
}

@media screen and (max-width: 320px) {

    .button-container {
        flex-direction: column;
        gap: 16px
    }
}