<section id="projects">
    <h3>Portfolio</h3>

    <p class="center">{{'portfolio.intro' | translate }}</p>

    <div class="content">
        <div class="main-container">
            <div class="element">
                <img src="assets/img/join photo.png" data-aos="fade-right">
                <div class="description" data-aos="fade-left">
                    <div class="description-text">
                        <h4>Join</h4>
                        <h5>JavaScript | HTML | CSS</h5>
                        <p>{{'portfolio.join' | translate }}</p>
                    </div>
                    <div class="button-container">
                        <button type="button" class="live-test-btn" (click)="forwardLiveTest('join/')">Live
                            test</button>
                        <button type="button" class="github-btn" (click)="forwardGithub('Join')">Github</button>
                    </div>
                </div>
            </div>

            <div class="element element-reverse">
                <img src="assets/img/pollo photo.png" data-aos="fade-left">
                <div class="description description-reverse" data-aos="fade-right">
                    <div class="description-text">
                        <h4>El Pollo Loco</h4>
                        <h5>JavaScript | HTML | CSS</h5>
                        <p>{{'portfolio.pollo-loco' | translate }}</p>
                    </div>
                    <div class="button-container">
                        <button type="button" class="live-test-btn" (click)="forwardLiveTest('el-pollo-loco/')">Live
                            test</button>
                        <button type="button" class="github-btn"
                            (click)="forwardGithub('El-Pollo-Loco')">Github</button>
                    </div>
                </div>
            </div>

            <div class="element">
                <img src="assets/img/Simple CRM photo.png" data-aos="fade-right">
                <div class="description" data-aos="fade-left">
                    <div class="description-text">
                        <h4>Simple CRM</h4>
                        <h5>Angular | Firebase</h5>
                        <p>{{'portfolio.crm' | translate }}</p>
                    </div>
                    <div class="button-container">
                        <button type="button" class="live-test-btn" disabled>COMING</button>
                        <button type="button" class="github-btn" disabled>SOON</button>
                    </div>
                </div>
            </div>

            <div class="element element-reverse">
                <img src="assets/img/Pokédex photo.png" data-aos="fade-left">
                <div class="description description-reverse" data-aos="fade-right">
                    <div class="description-text">
                        <h4>Pokédex</h4>
                        <h5>JavaScript | HTML | CSS | API</h5>
                        <p>{{'portfolio.pokedex' | translate }}</p>
                    </div>
                    <div class="button-container">
                        <button type="button" class="live-test-btn" (click)="forwardLiveTest('pokedex/')">Live
                            test</button>
                        <button type="button" class="github-btn" (click)="forwardGithub('Pokedex')">Github</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>